* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: bolder;
  padding-top: 10px;
  margin-left: 10px;
}
h2 {
  font-size: bolder;
  font-size: 24px;
}
